{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header class="menuCabeca">
    <div class="header-1">
        <main>
            <font class="fontHeader-1">

                <div class="cabecaEsquerda">
                    <img src="https://i.ibb.co/ftqqKP6/Renan-Logo.png" width="8%">
                    Bodom Creed
                </div>

                <div class="cabecaDireita">
                    <ul>

                        Membros:

                        <!-- Renan -->

                        <a href="https://www.instagram.com/renan_bodom/">
                        <img src="https://scontent.fppy4-1.fna.fbcdn.net/v/t1.0-9/45006019_2425299307510062_1030963150867922944_o.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=OV0jwtvbbIMAX8ajCVn&_nc_oc=AQkr8bZCz2r-AtlLQFGSdioUGtHGaDoPQUBgqCiFf6tJLA_dkRnVK9rdPmLblqCS0yM&_nc_ht=scontent.fppy4-1.fna&oh=80ceadfb48aed9271e6b316f3faf1b95&oe=601DA452"
                        width="5%">
                        </a>

                        <!-- Tamires -->
                        <a href="https://www.instagram.com/tamires_bodom/">
                        <img src="https://scontent.fppy4-1.fna.fbcdn.net/v/t1.0-9/83354031_838004799938191_8650651247583428608_o.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_ohc=KHhmFhs7X7AAX8lcvBM&_nc_oc=AQnPLzzj_DYffW0GqT44Zs6FMSbYIbLxKReUioRyu25K4a5q0mBBzEY-bZNxO1TA968&_nc_ht=scontent.fppy4-1.fna&oh=a0ad7ccd2a77fbce6acc483c5ce38af9&oe=60207265"
                        width="5%">
                        </a>

                    </ul>
                </div>

            </font>
        </main>
    </div>
</header>




<br>



<div class="container" style="max-width: 800px">
    <center>
        {% block content %}
        {% endblock %}
    </center>
</div>




<!-- Footer -->
<footer class="footer">
  <!-- Copyright -->
  <div>
      <font class="fontHeader-1">
      <img src="https://i.ibb.co/ftqqKP6/Renan-Logo.png" width="3%">
      © 2021 Copyright:
      </font>
      <a href="http://bodomcreed.pythonanywhere.com/"> Bodom Creed.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>