{% extends 'home/_layout.html' %}
{% block title %} Home Bodom Creed {% endblock %}

{% block content %}

<!--
Bem vindo ao site {{ siteNome }}!
<br><br>
-->

<!-- Teste ao pressionar botão
<br>
<br>

<button name="btnAperteAqui" type="button" class="btn btn-primary" onclick="btnAqui()">Botão teste JS!</button>

<br>
<br>
    <div id="DIVContador">

    </div>
<br>
<br>
-->


<div class="boxArredondado">
    <br>
    Contatar Renan Marques:

    <br><br>
    <a href="https://t.me/renan_bodom" target=”_blank” class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-brands fa-telegram"></i>
        Telegram
    </a>

    <br><br>
    <a href="https://wa.me/05535920005523" target=”_blank” class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-brands fa-whatsapp"></i>
        WhatsApp
    </a>

    <br><br>
    <a href="tel:05535920005523" class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-solid fa-phone"></i>
        Ligar
    </a>

    <br><br>
    <a href="mailto:renan1211@hotmail.com" class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-solid fa-envelope"></i>
        E-mail
    </a>

    <br><br>
    <a href="https://www.linkedin.com/in/renan-marques-ti/" target=”_blank” class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-brands fa-linkedin"></i>
        LinkedIn
    </a>

    <br><br>
    <a href="https://github.com/Renan-Bodom" target=”_blank” class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-brands fa-github"></i>
        GitHub
    </a>

    <br><br>
    <a href="https://www.instagram.com/renan_bodom/" target=”_blank” class="btn btn-outline-warning larguraBotaoContato">
        <i class="fa-brands fa-instagram"></i>
        Instagram
    </a>
    <br><br>
</div>


{% endblock %}