{% extends 'home/_layout.html' %}
{% block title %} Home Bodom Creed {% endblock %}

{% block content %}

<!--
Bem vindo ao site {{ siteNome }}!
<br><br>
-->

<!-- Teste ao pressionar botão
<br>
<br>

<button name="btnAperteAqui" type="button" class="btn btn-primary" onclick="btnAqui()">Botão teste JS!</button>

<br>
<br>
    <div id="DIVContador">

    </div>
<br>
<br>
-->

<div class="contact_index">

    <!--{% include 'curriculum/contact_renan.html' %}-->
    <a href="/cv/">
        <div class="perfil_home_renan">
            Renan Marques - TI
        </div>
    </a>

    <a href="/cv/luana/">
        <div class="perfil_home_luana">
            Luana Marques - Química
        </div>
    </a>

</div>


{% endblock %}