<div class="boxArredondado_luana">
    <h1>Luana Marques:</h1>

    <a href="https://t.me/Luana_mqs" target=”_blank” class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-brands fa-telegram"></i>
        Telegram
    </a>

    <br><br>
    <a href="https://wa.me/05535991555344" target=”_blank” class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-brands fa-whatsapp"></i>
        WhatsApp
    </a>

    <br><br>
    <a href="tel:05535991555344" class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-solid fa-phone"></i>
        Ligar
    </a>

    <br><br>
    <a href="mailto:luana.mqs@hotmail.com" class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-solid fa-envelope"></i>
        E-mail
    </a>

    <br><br>
    <a href="https://www.linkedin.com/in/luana-mqs/" target=”_blank” class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-brands fa-linkedin"></i>
        LinkedIn
    </a>

    <br><br>
    <a href="https://www.instagram.com/luana.mqs/" target=”_blank” class="btn btn-outline-warning larguraBotaoContato_luana">
        <i class="fa-brands fa-instagram"></i>
        Instagram
    </a>
    <br><br>
</div>