{% extends 'home/_layout.html' %}
{% block title %} Curriculum Stefanie {% endblock %}

{% block content %}

<!--
<div class="header_cv_luana" id="about">
    <h1>Stefanie Rodrigues</h1>
    <p>Analista comercial</p>
    <button class="scroll-button_cv" onclick="scrollToSection('experience')">Próxima Seção</button>
</div>

<div class="section_cv" id="experience">
    <h2>Experiência Profissional</h2>
    <div class="itens_section">

        <div class="item_section">
            <p>Nome da Empresa - Cargo - Data de Início a Data de Término</p>
            <p>Descrição das responsabilidades e realizações nesta posição.</p>
        </div>

    </div>
    <button class="scroll-button_cv" onclick="scrollToSection('education')">Próxima Seção</button>
</div>

<div class="section_cv" id="education">
    <h2>Educação</h2>
    <div class="itens_section">
        <div class="item_section">
            <p>Nome da Instituição - Grau - Ano de Conclusão</p>
            <p>Descrição de sua formação acadêmica, cursos relevantes, etc.</p>
        </div>
    </div>
    <button class="scroll-button_cv" onclick="scrollToSection('skills')">Próxima Seção</button>
</div>

<div class="section_cv" id="skills">
    <h2>Habilidades</h2>

    <div class="itens_section">

        <div class="item_section">
            <p>Habilidade 1</p>
        </div>

        <div class="item_section">
            <p>Habilidade 2</p>
        </div>

        <div class="item_section">
            <p>Habilidade 3</p>
        </div>

    </div>
    <button class="scroll-button_cv" onclick="scrollToSection('contact')">Próxima Seção</button>
</div>
-->

<div class="section_cv_stefanie" id="contact">
    <h2>Contato</h2>

    {% include 'curriculum/contact_stefanie.html' %}

    <!--<button class="scroll-button_cv" onclick="scrollToSection('about')">Voltar para o Início</button>-->
</div>

{% endblock %}