* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

body {
    background-color: #a8bbfb;
    color: #000000;
}

.container {
    margin: 0;
    max-width: 1920px;
    width: 100%;
    padding: 0;
}


/* header */

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}



/* navbar */

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #467398;
    border-bottom: 5px solid #0062cc;
    color: white;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.nav-container ul {
    float: right;
    margin-top: -45px;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav-container li a:hover {
    color: rgb(6, 0, 90);
}

/* Roda pé*/

.footer {
    background-color: #467398;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}

.corLinkBodom {
    color: rgb(247, 255, 131);
}