body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
}

/* Navbar */

main {
    text-align: center;
    margin: 0 auto;
    position: relative;
}


a:link {
    color: #777;
}

.header-1 {
    background-color: #333;
    height: 60px;
}

.fontHeader-1 {
    color: white;
}

.cabecaEsquerda {
    float: left;
    padding: 13px;
    width: 40%;
}

.cabecaDireita{
    float: right;
    padding: 13px;
    width: 40%;
}


.header-2 {
    background-color: #a8c8e2;
    border-bottom: 5px solid #777;
    height: 50px;
}

.menuOp ul li {
    display: inline-block;
    margin-left: 10px;
}

.menuOp {
    float: left;
    padding: 11px;
}

.fontMenu {
    color: #f5ff9e;
    font-weight: bold;
}

/* Bem-vindo */
.bem-vindo {
    text-align: center;
}

/* Contador */
.contador {
    padding: 25px;
    text-align: center;
}
.contador div {
    padding: 20px;
}

/* dashboard */
.dashboard_fila {
    padding: 0;
    width: 70%;
    display: block;
}

.dashboard_fila h4 {
    font-size: 20px;
    padding: 12px;
    display: block;
}


.dashboard-box {
    display: block;
    background-color: #222222;
    color: #ffffff;
    padding: 20px;
    height: 50%;
    box-sizing: border-box;
    text-align: center;
    max-width: 50%;
    float: left;
}


/* Roda pé*/

.footer {
    background-color: #222222;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}