<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/filaAtendimento.css' %}">
</head>
<body>

<header class="menuCabeca">
    <div class="header-1">
        <main>
            <font class="fontHeader-1">

                <div class="cabecaEsquerda">
                    <img src="https://i.ibb.co/ftqqKP6/Renan-Logo.png" width="50px">
                    Fila
                </div>

                <div class="cabecaDireita">

                    <div id="horaAgora"></div>

                </div>

            </font>
        </main>
    </div>
</header>

<div class="header-2">
    <div class="menuOp">

        <ul>
            <li><a href="/filaAtendimento/"><font class="fontMenu">Inicio</font></a></li>
            <li><a href="#"><font class="fontMenu">Usuário</font></a></li>
            <li><a href="#"><font class="fontMenu">Agente</font></a></li>
        </ul>

    </div>
</div>


<br>



<div class="container" style="max-width: 800px">
    <center>
        {% block content %}
        {% endblock %}
    </center>
</div>




<!-- Footer -->
<footer class="footer">
  <!-- Copyright -->
  <div>
      <font class="fontHeader-1">
      <img src="https://i.ibb.co/ftqqKP6/Renan-Logo.png" width="40px">
      © 2022 Copyright:
      </font>
      <a href="http://bodomcreed.pythonanywhere.com/"> Bodom Creed.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="{% static 'js/filaAtendimento.js' %}"></script>

</body>
</html>