* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.container {
    max-width: 1920px;
    width: 92%;
    padding: 0;
    padding-bottom: 61px;
}

body {
    /*background-color: #494949;*/
    background-color: white;
    color: #fff1be;
}

/* Navbar */

main {
    text-align: center;
    margin: 0 auto;
    position: relative;
}


a:link {
    color: rgb(247, 255, 131);
}

.header-1 {
    background-color: #222222;
    height: 60px;
    white-space: nowrap;
}

.fontHeader-1 {
    color: white;
}

.cabecaEsquerda {
    float: left;
    padding: 13px;
    width: 40%;
}

.cabecaDireita{
    float: right;
    padding: 13px;
    width: 40%;
}


.header-2 {
    background-color: #665105;
    border-bottom: 5px solid #777;
    resize: none;
    overflow: auto;
}

.menuOp ul li {
    display: inline-block;
    margin-left: 10px;
}

.menuOp {
    float: left;
    padding: 11px;
}

.fontMenu {
    color: #f5ff9e;
    font-weight: bold;
}

/* contato */
.contact_index{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}

.perfil_home_renan{
    padding: 10px;
    margin: 20px;
    width: 280px;
    height: 400px;
    background-image: url('https://i.ibb.co/xf8MNZ3/PP-2023.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    border-radius: 10px 20px;
}


.perfil_home_luana{
    padding: 10px;
    margin: 20px;
    width: 280px;
    height: 400px;
    background-image: url('https://i.ibb.co/W6F5k3H/Luana.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    border-radius: 10px 20px;
}

/* Roda pé*/

.footer {
    background-color: #222222;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
}